body{margin:0;}

*{box-sizing: border-box;}

.container div{

border:3px solid black;
text-align: center;
height:200px;
line-height: 200px;
float:left;
width: calc(33.333% - 40px / 3);

}


div.container div:not(:last-of-type){

   margin-right: 20px;  
}


/*div.container__element1{
    margin-right: 20px;


} */



.containerBis div{

border:3px solid black;
text-align: center;
height:200px;
margin-right:20px;
line-height: 200px;
float:left;
width:  calc(25% - 60px / 3);
box-sizing: border-box;
}


div.containerBis div:not(:last-of-type){

   margin-right:20px;  
}

div.container1Bis__element1Bis{
    margin-right:20px;
}


.containerTris div{

border:3px solid black;
text-align: center;
height:200px;
margin-right:40px;
line-height: 200px;
float:left;
width:  calc(50% - 20px);

}

div.containerTris div:not(:last-of-type){

   margin-right:40px;  
}